<table border="0"  cellpadding="3" id="table2" width="380" class="transbox1">
							<tr>
								<td width="30%" height="5" align="right"/>
								<td height="5" width="35%" align="right"/>
							</tr>
							<tr>
								<td width="30%" height="16" align="right">
								<b><font face="Arial" size="2">Env&nbsp;</font></b></td>
								<td height="16" width="35%" align="right">
								<div id="X1" style="min-height: 22px;width:270px" class="inputStyle"  title="A .zip file containing executables and files neccecary for clients to run" ></div></td>
							</tr>
							<tr>
								<td width="30%" height="16" align="right"><b>
								<font face="Arial" size="2">Description&nbsp;</font></b></td>
								<td height="16" width="35%" align="right">
								<div id="X2" style="min-height: 22px;width:270px" class="inputStyle"  title="Description of a work unit, must be valid file name" ></div></td>
							</tr>
							

							<tr>
								<td width="30%"></td>
								<td width="22%" align="center">
								<input id="Log_It" class="inputButton" style="width:40%"  value="Submit" name="Submit" onclick="tryCreateJob() ">
								</td>
								<td width="30%"></td>
							</tr>
							<tr>
								<td width="30%" height="5" align="right"/>
								<td height="5" width="35%" align="right"/>
							</tr>
						
						</table>