<script>
			var Envr = null
			var win = null
			var lin = null
			var descr = null
			
			var envRegex =/\.zip/i ;
			var descrRegex =/\.json/i ;
			
			DragSave("ALLTHETHINGS",function (file,outof) {
										if (outof >= 2) {
											if (envRegex.test(file.name)){
												drop   = document.getElementById("X1");
												drop.innerHTML = file.name; 
												Envr = file	;
											}
											if (descrRegex.test(file.name)){
												drop   = document.getElementById("X2");
												drop.innerHTML = file.name; 
												descr = file	;
											}
										}
									});
			
			DragSave("X1",function (result) {
										drop   = document.getElementById("X1");
										drop.innerHTML = result.name; 
										Envr = result	;
									},
									"1px solid red");
			DragSave("X2",function (result) {
										drop   = document.getElementById("X2");
										drop.innerHTML = result.name; 
										win = result;	
									},
									"1px solid red");
									
			
		 function tryCreateJob() {
			
			var formData = new FormData();
			formData.append('Env',Envr,Envr.name);
			if (descr != null) {
				formData.append('workDescr',descr,descr.name);
			}
			$.ajax({
				url: "/submit",
				type: 'POST',
				data: formData,
				async: true,
				cache: false,
				contentType: false,
				processData: false,
				success: function(){
						window.location.href = "/Jobs"
				},
				error: function(){
					alert("error in ajax form submission");
				}
			});
			/*.done(	function() {
				alert("Done");
			  
			}).fail(function() {
				alert("fail");
			})*/
		 }
		</script>