<!DOCTYPE html>
<html>
<!--background="Images/CNLOGO.jpg"-->
	<HEAD>
		<TITLE>Concordis</TITLE>
			<link rel="stylesheet" type="text/css" href="mainforhein.css" />
			<link rel="icon" type="image/x-icon" href="favicon.ico" />
			<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
			
			<script src="/JQuery/jquery-1.11.0.min.js"></script>
			<script src="DragAndDrop.js"></script>
			
      {{template "header.html" .HeaderData  }}
      
      {{template "nav.html" .NavData }}
      
		</HEAD >
		
		<body  style="background-image:url('Images/something.jpg');background-size:100% 100%;background-repeat:no-repeat;background-size:cover;background-attachment:fixed;">
		
			<div id="ALLTHETHINGS" class="outer" >
				<div class="middle">
					
					<div class="inner" style="width: 380px;background-color:#4F4B47;">
            {{template "body.html" .BodyData }} 
					</div> <!--inner-->
				</div><!--middle-->
			</div><!--outer-->
		</body>
		
</html>